* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #faf8f4;
}

#app {
  width: 100%;
  /* 加这一行 */
  min-height: 100vh;
  background-color: #faf8f4;
}