/* src/styles/main.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  html,
  body {
    @apply h-full bg-[#faf8f4];
  }

  #app {
    @apply w-full min-h-screen bg-[#faf8f4];
  }
} */
